@import "../../scss/index.scss";

$widthLeftMenu: 70px;


.admin-layout{

    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    background-color: $background-grey;
    color: white;

    &__left{
        width: $widthLeftMenu;
        background-color: #7270D6;
        overflow: auto;
        height: auto;
    }



    .icon{
        color: white;

    }

    .logo{
        position: relative;
        top:0;
        left: 0;
        height: 100px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 25px;
    }


    &__right{
        width: calc(100% - #{$widthLeftMenu}); //100% - 200px


        &-header{

            height: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            //padding: 0 10px;
        }

        &-content{
            position: relative;
            margin: 20px;

        }



    }
}