.admin-menu{
    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 65%;
}

.items{
    width: 100%;
    object-fit: cover;
}

.items-cont{
    width: 35%;
    cursor: pointer;
}





