@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Kanit:ital,wght@1,700&family=Oswald&display=swap');

.cont-service-item {
  width: 310px;
  height: 120px;


  margin-bottom: 10px;
    margin-right: 7px;
    margin-left: 7px;

  border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.cont-img-1 {
  width: 12%;
  height: 100%;

}
.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 5px;
  position: relative;
  left: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cicle-text {
  font-size: 12px;
  color: rgb(255, 255, 255);
  position: relative;
  text-align: center;
}

.info {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cont-info-2 {
  width: 70%;
    color: rgba(0, 0, 0, 0.583);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.info-text-nombre {
  font-family: "Kanit", sans-serif;
    font-size: 15px;
    position: relative;
    top: 12px;
  letter-spacing: 1px;
}
.info-text-precio {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    position: relative;
    top: 14px;
}

.info-text-clientes {
}


.cont-actions-3{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.btn-deshabilitar{
    position: relative;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 40px;
    height: 40px;
}


.cont-progress-bodys-v2 {
  width: 85%;
  margin-top: 10px;
}

/* .punto{
    font-size: 25px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 3px;
    right: 5px;
}

.service-nombre{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
    align-items: center;
    flex-direction: row;

}
.name-service{
    font-size: 13px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
    top: 5px;

}
.name-service-v2{
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
    top: 5px;

}
.precio-service{
    color: rgb(255, 255, 255);
    display: flex;
    height: 25px;
    margin-top: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.clientes-service{
    color: rgb(255, 255, 255);
    display: flex;
    height: 25px;
    margin-top: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text-precio-1{
    position: relative;
    top: 10px;
    font-size: 12px;
}
.text-precio-3{
    position: relative;
    top: 10px;
    right: 5px;
    font-size: 12px;
}
.text-precio-2{
    position: relative;
    bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.actions-service{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: auto;
    position: relative;
    top: 16px;
    border-radius: 5px;
    width: 50%;
}
.btn-deshabilitar{
    position: relative;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 40px;
    height: 40px;
}
 */
