.btn-logout{
    border: none;
    position: relative;
    bottom: 0px;
    right: 20px;
    background-color: transparent;
    width: 5%;
    height: 100%;
    cursor: pointer;
}

@media  only screen and (min-width: 320px) and (max-width: 560px) {

}

@media  only screen and (min-width: 560px) and (max-width: 850px) {
    .btn-logout{
        position: relative;
        bottom: 550px;
        right: 5px;
    }
}

